[Unit]
Description=web_dynamic gunicorn run
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4/api/v1
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app
Environment="HBNB_MYSQL_USER=hbnb_test"
Environment="HBNB_MYSQL_PWD=hbnb_test_pwd"
Environment="HBNB_MYSQL_HOST=localhost"
Environment="HBNB_MYSQL_DB=hbnb_test_db"
Environment="HBNB_TYPE_STORAGE=db"
Restart=always
StandardOutput=file:/tmp/airbnb-access.log
StandardError=file:/tmp/airbnb-error.log

[Install]
WantedBy=multi-user.target
